<meta charset="UTF-8">
<title>STT Service</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    pre {
        display: block;
        font-family: monospace;
        white-space: pre;
        margin: 1em 0;
    }

    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .topnav {
        overflow: hidden;
        background-color: #333;
    }

    .topnav form {
        float: right;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        width: auto;
    }

    * {
        box-sizing: border-box;
        max-width: 100%;
    }

    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        cursor: pointer;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
        width: 100%;
        margin: auto;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }


    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        input[type=submit] {
            width: 100%;
            margin-top: 0;
        }
    }
</style>