<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head'); %>
</head>

<body>
    <div class="topnav">
        <form action="login" method="get" enctype="multipart/form-data">
                <input type="submit" name="login" value="Login" />
        </form>
    </div>
    <h1> Login response </h1>
    <%- include('result'); %>
</body>

</html>